pipeline/PL_RunDb2Queries.json
{
	"name": "PL_RunDb2Queries",
	"properties": {
		"activities": [
			{
				"name": "Run_Employee_Proc",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "Db2Source",
						"query": "CALL DB2ADMIN.GET_EMPLOYEE()"
					},
					"dataset": {
						"referenceName": "Db2Table1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Run_Department_Proc",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Run_Employee_Proc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "Db2Source",
						"query": "CALL DB2ADMIN.GET_DEPARTMENT()"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Run_EmployeeDetails_Proc",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Run_Department_Proc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "Db2Source",
						"query": "CALL DB2ADMIN.GET_EMPLOYEE_DETAILS()"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Merge_Results",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Run_EmployeeDetails_Proc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "MergedResults",
					"value": {
						"value": "@union(activity('Run_Employee_Proc').output.value, activity('Run_Department_Proc').output.value, activity('Run_EmployeeDetails_Proc').output.value)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"MergedResults": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}